* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 50px 50px;
  padding: 20px;
  border: 2px solid black;
  width: 500px;
  height: 500px;
  display: grid;
}
/* Box 1 */
.box1 {
  display: flexbox;
  width: 400px;
  height: 200px;
  border: 5px solid purple;
  background-color: aquamarine;
  padding: 20px;
}

.ulist1 {
  border: 1px solid gold;
  padding: 10px 30px;
  display: grid;
  row-gap: 5px;
}

.list{
  list-style: none;
}

.ulist1 .list {
  border: 1px solid orange;
  width: 200px;
  padding: 3px 0px;
  display: inline-flex;
  justify-content: center;
}

.ulist1 .list:hover {
  transition: 0.3s;
  background: red;
  color: purple;
  transform: scale(1.2, 1.1);
}
/* Box 2 */
.box2 {
  border: 5px dashed deeppink;
  width: 450px;
  height: 200px;
  padding: 20px;
  background: powderblue;
}

.ulist2{
  outline: 1px solid rgb(255, 47, 109);
  min-height: 150px;
  max-width: 380px;
  padding: 10px;
  display: flex;
}

.ulist2 .list{
  outline: 1px solid red;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ulist2 .list.three{
  flex-grow: ;
}

.ulist2 .list.four{
  background: grey;
}

.ulist2 .list:hover {
  transition: 0.2s;
  background: red;
  color: purple;
  transform: scale(1.4, 1.4);
}